<h1>Ranking#game</h1>


<%= form_tag("./match", method: "post") do %>
   <div>
    <%= label_tag('nickname_player1') %>
    <%= text_field_tag 'nickname_player1' %>
    <br>
    <%= label_tag('nickname_player2') %>
    <%= text_field_tag 'nickname_player2' %>
  </div>
  <%= submit_tag("Jugar") %>
<% end %>